<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>

<%= form_tag sessions_path do %>
  <label>Name:</label><br>
  <%= text_field_tag :'name' %><br>
 
  <%= submit_tag "Login" %>
<% end %>